<div class="content-container" flex="100">
    <h2 class="page-title">Serials list</h2>

    <a ng-href="/serial/{{serial._id}}" ng-click="vm.go('serial', serial._id, $event)" ng-repeat="serial in vm.serials"
       class="content-card serial" layout="row">
        <div class="left-part" flex="30">
            <img ng-src="{{serial.image.medium}}" alt="{{serial.name}}">
        </div>
        <div class="right-part" flex="70">
            <h3 class="content-card-title">{{serial.name}}</h3>
            <span class="serial-updated">Last update: {{serial.updated | date:'MM/dd/yyyy'}}</span>
            <serial-info serial="serial"></serial-info>
        </div>
    </a>
</div>
