//----------DEFINES-----------
$mainThemeColor: #5c6bc0;
$secondaryThemeColor: #3f51b5;

html {
  overflow-y: auto;
  font-size: 62.5%;
}

body {
  background-color: #eeeeee;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #6a6a6a;
}

.flex-placeholder {
  height: 0;
  box-shadow: none;
  border: 0;
}
//----------END DEFINES-----------

//----------CHIPS DEFINES-----------
.chip {
  display: inline-block;
  border-radius: 15px;
  margin: 5px;
  padding: 5px 10px;
  line-height: 20px;
  background: #6a6a6a;
  vertical-align: top;
  color: #fff;
}
//----------CHIP DEFINES-----------

//----------MIXINS-----------
@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 1279px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 959px) {
      @content;
    }
  } @else if $point == xsmall {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $point { // allows custom breakpoints
    @media (max-width: $point) {
      @content;
    }
  }
}
@mixin mouseEvents() {
  &:not([disabled]):hover,
  &:not([disabled]):focus {
    @content;
  }
}
//----------END MIXINS-----------


//----------CONTENT-----------
.wrapper,
md-content {
  height: 100%;
}
.page-title {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  margin: 65px auto;
  line-height: 1;
  font-weight: 200;
  font-size: 6.9rem;
}

.content-container {
  box-sizing: border-box;
  max-width: 950px;
  width: 100%;
  margin: 20px auto;
  &.small {
    max-width: 640px;
  }

  .content-card {
    position: relative;
    padding: 45px 40px 40px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.09);
    overflow: hidden;

    .content-card-title {
      margin: 0;
      font-size: 2.6rem;
      font-weight: 700;
      color: #434343;

      span {
        font-weight: 400;
      }
    }
  }

  .left-part,
  .right-part {
    display: inline-block;
    vertical-align: top;
  }
}

@include breakpoint(medium) {
  .page-title {
    max-width: 870px;
  }
  .content-container {
    max-width: 870px;
  }
}

@include breakpoint(small) {
  .page-title {
    margin: 35px auto;
    font-size: 4.2rem;
  }

  .content-container {
    max-width: 510px;
    &.small {
      max-width: 600px;
    }
    .content-card {
      padding: 20px;
    }
  }
}

@include breakpoint(xsmall) {
  .content-container {
    max-width: none;
    background: #fff;
    margin-top: 0;

    .content-card {
      padding: 20px;
      box-shadow: none;
    }

    .page-title {
      padding: 0 20px;
    }
  }
}
//----------END CONTENT-----------

//----------SERIAL-----------
.serial {
  color: #777;
  text-decoration: none;
  transition: box-shadow .3s;

  @include mouseEvents() {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  }
}

.serial-updated {
  font-size: 1.2rem;
}
.serial-info {
  margin-top: 20px;

  td:first-child {
    padding-right: 20px;
    vertical-align: top;
  }

  .summary-info {
    p {
      margin-top: 0;
    }
  }

  .genres-info {
    td:first-child {
      padding-top: 11px;
    }
  }
}
.serial-image {
  max-width: 100%;
  height: auto;
}
//----------END SERIAL-----------

//----------RATING-----------
.rating {
  md-progress-linear {
    display: inline-block;
    width: 100px;
    margin: 9px 10px 0 0;
    vertical-align: top;
  }
  .rating-value {
    vertical-align: top;
  }
}
//----------END RATING-----------

//----------EPISODES-----------
.episode-list {
  .episode-preview {
    padding: 10px;
    transition-duration: .3s;

    &:hover {
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
  }

  .episode-preview-description {
    position: relative;
    margin: 0;
    max-height: 80px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 20px;
      background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    }

    p {
      margin: 0;
    }
  }
}
//----------END EPISODES-----------
